.device {
    width: 4.5em;
    text-align: right;
}

.minimum {
    background:orange;
    color: black;
    padding:0.1em;
    margin:0;
}


.percent {
    font-size: 0.7em;
    width: 3.5em;
    text-align: center;
}